aside {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    height: 10dvh;
    border-bottom: 1px solid $faded_line;
    background: #fff;

    .links {
        list-style-type: none;
        display: flex;
        gap: 2em;
        align-items: center;

        a {
            color: $text_color;
        }
    }

    .active {
        font-weight: bold;
        border-bottom: 2px solid $link_color;

        a {
            color: $link_color;
        }
    }

    .footer {
        display: flex;
        gap: 0.8em;
        align-items: center;

        .profile {
            display: flex;
            gap: 0.8em;
            align-items: center;

            a {
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }

        .logout {
            button {
                padding: 4px 8px;
                background: $danger;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    aside {
        .branding {
            display: none;
        }

        .links {
            gap: 1em;

            .text {
                display: none;
            }

            i {
                font-size: 1.5em;
            }
        }

        .footer {
            .profile {
                .text {
                    display: none;
                }
            }

            .logout {
                button {
                    .text {
                        display: none;
                    }
                }
            }
        }
    }
}

@media print {
    aside {
        display: none;
    }
}
