.Dashboard {
    .section {
        margin: 0 0 0.8em;
    }

    .stats {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 8px 0;

        .stat {
            background: $dashboard_background;
            padding: 16px 20px;
            border-radius: 8px;
            display: grid;
            gap: 1em;
            grid-template-columns: 2fr 1fr;
            align-items: center;

            .text {
                display: grid;

                span {
                    &:first-of-type {
                        font-weight: bold;
                        font-size: 1.52em;
                    }
    
                    &:last-of-type {
                        font-size: 0.85em;
                        color: $faded_text;
                    }
                }
            }
        }
    }

    .charts {
        display: grid;
        gap: 3.2em;
        margin: 2em 0 0;
        padding: 16px 4px;

        h2 {
            font-size: 1.24em;
            margin: 0 0 0.5em;
        }

        canvas {
            max-width: 100%;
            width: 100%;
        }

        .sales_summary {
            width: 100%;
            p {
                display: grid;
                grid-template-columns: 90px 2fr;
                gap: 0.5em;
                margin: 0 0 0.8em;

                span {
                    &:first-of-type {
                        color: $faded_text;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .Dashboard {
        .stats {
            grid-template-columns: repeat(3, 1fr);
        }

        .charts {
            grid-template-columns: 3fr 1fr;
        }
    }
}

@media screen and (min-width: 1025px) {
    .Dashboard {
        .stats {
            grid-template-columns: repeat(6, 1fr);
        }

        .charts {
            grid-template-columns: 5fr 1fr;
        }
    }
}
