.MainApp {
    .app_content {
        padding: 16px 16px 4px;
        min-height: 90dvh;
        height: auto;

        .system_nav {
            display: flex;
            gap: 1em;
            margin: 0.2em 0 0.4em;
            
            a {
                font-weight: bold;
            }

            a:not(:last-child),
            span:not(:last-child) {
                font-weight: bold;

                &::after {
                    content: " / ";
                    color: $text_color;
                    margin: 0 0 0 0.6em;
                }
            }
        }

        .row_container {
            display: grid;
            gap: 2em;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .MainApp {
        .app_content {
            .row_container {
                grid-template-columns: 2fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .MainApp {
        .app_content {
            .row_container {
                grid-template-columns: 2fr 1fr;
            }
        }
    }
}